/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts7, span.rvts7 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts8
{
}
span.rvts9
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts10
{
 font-weight: bold;
 color: #000080;
}
span.rvts11
{
 font-style: italic;
 color: #800000;
}
a.rvts12, span.rvts12
{
 color: #008000;
 text-decoration: underline;
}
a.rvts13, span.rvts13
{
 font-size: 11pt;
 font-weight: bold;
 color: #4665a2;
 text-decoration: none;
}
span.rvts14
{
 font-size: 11pt;
 color: #000000;
}
span.rvts15
{
 font-size: 11pt;
 font-weight: bold;
 color: #4665a2;
}
span.rvts16
{
 font-family: Symbola, 'Arial Unicode MS', 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
 font-weight: bold;
}
a.rvts17, span.rvts17
{
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts18
{
 font-size: 16pt;
 color: #354c7b;
}
span.rvts19
{
 font-size: 12pt;
}
span.rvts20
{
 font-size: 11pt;
 font-weight: bold;
 color: #000000;
}
span.rvts21
{
 font-size: 11pt;
 color: ;
}
span.rvts22
{
 font-size: 11pt;
 font-style: italic;
 color: ;
}
span.rvts23
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 color: ;
}
span.rvts24
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 color: ;
 background-color: #f9fafc;
}
a.rvts25, span.rvts25
{
 font-size: 11pt;
 font-weight: bold;
 color: #4665a2;
 text-decoration: underline;
}
span.rvts26
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
a.rvts27, span.rvts27
{
 font-size: 11pt;
 color: #000000;
 text-decoration: none;
}
span.rvts28
{
 color: #253555;
}
a.rvts29, span.rvts29
{
 font-size: 11pt;
 font-weight: bold;
 color: #4665a2;
 background-color: #dfe5f1;
 text-decoration: underline;
}
span.rvts30
{
 font-size: 11pt;
 font-weight: bold;
 color: #000000;
 background-color: #dfe5f1;
}
span.rvts31
{
 font-size: 11pt;
 color: #000000;
 background-color: #dfe5f1;
}
span.rvts32
{
 font-size: 11pt;
 color: #000000;
 background-color: #ffffff;
}
span.rvts33
{
 font-size: 11pt;
 color: #000000;
}
a.rvts34, span.rvts34
{
 font-size: 11pt;
 color: #000000;
 text-decoration: underline;
}
span.rvts35
{
 font-size: 11pt;
 font-style: italic;
 color: #000000;
}
a.rvts36, span.rvts36
{
 font-weight: bold;
 color: #0000ff;
 text-decoration: none;
}
a.rvts37, span.rvts37
{
 font-size: 12pt;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts38
{
 font-size: 9pt;
 font-family: 'consolas';
 font-style: italic;
 color: #212121;
}
span.rvts39
{
 font-size: 11pt;
 color: #253555;
}
span.rvts40
{
 font-size: 9pt;
 font-style: italic;
 font-weight: bold;
 color: #212121;
}
span.rvts41
{
 font-size: 9pt;
 font-family: 'consolas';
 color: #881391;
}
span.rvts42
{
 font-size: 9pt;
 font-family: 'consolas';
 color: #212121;
}
span.rvts43
{
 font-size: 9pt;
 font-family: 'consolas';
 font-style: italic;
 color: #0d22aa;
}
span.rvts44
{
 font-weight: bold;
}
span.rvts45
{
 font-size: 11pt;
 font-weight: bold;
 color: ;
}
span.rvts46
{
 font-size: 11pt;
 color: #7f7f7f;
}
a.rvts47, span.rvts47
{
 font-size: 11pt;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts48
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
a.rvts49, span.rvts49
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 color: #4665a2;
 text-decoration: none;
}
span.rvts50
{
 font-size: 17pt;
 font-weight: bold;
 color: #000000;
}
span.rvts51
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
}
a.rvts52, span.rvts52
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #4665a2;
 text-decoration: none;
}
span.rvts53
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #008000;
}
span.rvts54
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #806020;
}
span.rvts55
{
 font-size: 11pt;
 color: #8cb4d2;
}
a.rvts56, span.rvts56
{
 font-size: 11pt;
 font-weight: bold;
 color: ;
 text-decoration: none;
}
span.rvts57
{
 font-size: 1pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
}
span.rvts58
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #e08000;
}
a.rvts59, span.rvts59
{
 font-size: 11pt;
 color: #4665a2;
 text-decoration: none;
}
span.rvts60
{
 font-size: 11pt;
 font-weight: bold;
 color: #4665a2;
 background-color: #ffffff;
}
span.rvts61
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 color: #212121;
}
a.rvts62, span.rvts62
{
 font-size: 11pt;
 font-weight: bold;
 color: #4665a2;
 background-color: #ffffff;
 text-decoration: none;
}
span.rvts63
{
 font-size: 17pt;
 color: #000000;
}
span.rvts64
{
 font-size: 11pt;
 color: #008000;
}
span.rvts65
{
 font-size: 11pt;
 color: #4665a2;
}
a.rvts66, span.rvts66
{
 font-size: 11pt;
 color: #4665a2;
 text-decoration: underline;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps3
{
}
.rvps4
{
 text-align: center;
}
.rvps5
{
 text-indent: 48px;
 margin: 0px 0px 0px 288px;
}
.rvps6
{
 text-align: left;
 text-indent: 0px;
 border-color: #879ecb;
 border-style: solid;
 border-width: 1px;
 border-top: none;
 border-right: none;
 border-left: none;
 background: #ffffff;
 padding: 8px 0px 4px 0px;
 margin: 12px 15px 4px 0px;
}
.rvps7
{
 text-align: left;
 text-indent: 0px;
 border-color: #879ecb;
 border-style: solid;
 border-width: 1px;
 border-top: none;
 border-right: none;
 border-left: none;
 background: #ffffff;
 padding: 8px 0px 4px 0px;
 margin: 37px 15px 19px 0px;
}
.rvps8
{
 background: #ffffff;
 margin: 7px 0px 7px 0px;
}
.rvps9
{
 background: #ffffff;
}
.rvps10
{
 background: #ffffff;
 margin: 0px 0px 6px 40px;
}
.rvps11
{
 margin: 7px 0px 7px 0px;
}
.rvps12
{
 margin: 0px 0px 6px 40px;
}
.rvps13
{
 margin: 0px 0px 10px 0px;
}
.rvps14
{
 margin: 0px 0px 2px 0px;
}
.rvps15
{
 margin: 0px 0px 7px 0px;
}
.rvps16
{
 background: #ffffff;
 padding: 0px 0px 0px 40px;
}
.rvps17
{
 text-indent: -53px;
 border-color: #c4cfe5;
 border-style: solid;
 border-width: 1px;
 background: #fbfcfd;
 margin: 0px 0px 0px 52px;
}
.rvps18
{
 text-indent: -53px;
 border-color: #c4cfe5;
 border-style: solid;
 border-width: 1px;
 background: #fbfcfd;
 margin: 0px 0px 0px 148px;
}
.rvps19
{
 text-indent: -53px;
 border-color: #c4cfe5;
 border-style: solid;
 border-width: 1px;
 background: #fbfcfd;
 margin: 0px 0px 0px 196px;
}
.rvps20
{
 text-indent: -53px;
 margin: 0px 0px 0px 53px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: circle;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: square;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 12px; list-style-position: outside;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 12px; list-style-position: outside; list-style-type: circle;}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 12px; list-style-position: outside; list-style-type: square;}
.list6 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: disc;}
.list7 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: circle;}
.list8 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: square;}
.list9 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: disc;}
