/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 color: #008000;
 text-decoration: underline;
}
span.rvts11
{
 font-size: 12pt;
 font-family: '@Yu Gothic UI';
}
span.rvts12
{
 font-size: 12pt;
 font-family: '@Yu Gothic UI';
 font-weight: bold;
}
span.rvts13 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts14, span.rvts14 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
a.rvts15, span.rvts15
{
 color: #0000ff;
 text-decoration: underline;
}
span.rvts16
{
 font-size: 12pt;
 font-family: '@Yu Gothic UI';
 font-style: italic;
 font-weight: bold;
}
span.rvts17
{
 font-size: 12pt;
 font-family: '@Yu Gothic UI';
 font-style: italic;
}
span.rvts18
{
 font-size: 11pt;
 color: #000000;
 background-color: #ffffff;
}
span.rvts19
{
 font-size: 12pt;
 font-family: '@Yu Gothic UI';
 color: #000000;
}
span.rvts20
{
 font-size: 12pt;
 font-family: '@Yu Gothic UI';
 color: #000000;
 background-color: #ffffff;
}
a.rvts21, span.rvts21
{
 font-size: 12pt;
 font-family: '@Yu Gothic UI';
 color: #0000ff;
 background-color: #ffffff;
 text-decoration: none;
}
a.rvts22, span.rvts22
{
 font-size: 12pt;
 font-family: '@Yu Gothic UI';
 color: #0000ff;
 background-color: #ffffff;
 text-decoration: underline;
}
a.rvts23, span.rvts23
{
 font-size: 12pt;
 font-family: '@Yu Gothic UI';
 color: #190000;
 background-color: #ffffff;
 text-decoration: none;
}
a.rvts24, span.rvts24
{
 font-size: 12pt;
 font-family: '@Yu Gothic UI';
 color: #0000ff;
 text-decoration: underline;
}
span.rvts25
{
 font-size: 12pt;
 font-family: '@Yu Gothic UI';
 color: #494747;
}
span.rvts26
{
 font-size: 12pt;
 font-family: '@Yu Gothic UI';
 color: #3f3f3f;
}
a.rvts27, span.rvts27
{
 font-size: 12pt;
 font-family: '@Yu Gothic UI';
 color: #3f3f3f;
 text-decoration: none;
}
span.rvts28
{
 font-size: 11pt;
 color: #333333;
 background-color: #ffffff;
}
span.rvts29
{
 font-size: 12pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #333333;
}
a.rvts30, span.rvts30
{
 font-size: 12pt;
 font-family: '@Yu Gothic UI';
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts31
{
 font-size: 12pt;
}
span.rvts32
{
 font-size: 14pt;
 font-family: '@Yu Gothic UI';
 font-weight: bold;
}
span.rvts33
{
 font-size: 12pt;
 font-family: '@yu gothic ui';
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
span.rvts34
{
 font-size: 12pt;
 font-family: '@yu gothic ui';
 font-style: italic;
 color: #000000;
}
span.rvts35
{
 font-size: 12pt;
 font-family: '@yu gothic ui';
 font-weight: bold;
 color: #000000;
}
span.rvts36
{
 font-size: 12pt;
 font-family: '@Yu Gothic UI';
 color: ;
}
span.rvts37
{
 font-size: 12pt;
 font-style: italic;
 color: ;
 background-color: #f9fbdd;
}
a.rvts38, span.rvts38
{
 font-size: 12pt;
 font-family: '@Yu Gothic UI';
 font-style: italic;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts39
{
 font-size: 12pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #333333;
 background-color: #ffffd0;
}
a.rvts40, span.rvts40
{
 font-size: 12pt;
 font-family: '@Yu Gothic UI';
 font-style: italic;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts41, span.rvts41
{
 font-size: 12pt;
 font-family: '@Yu Gothic UI';
 color: #000000;
 text-decoration: underline;
}
span.rvts42
{
 font-size: 12pt;
 color: #000000;
}
a.rvts43, span.rvts43
{
 font-size: 12pt;
 font-weight: bold;
 color: #4665a2;
 text-decoration: none;
}
a.rvts44, span.rvts44
{
 font-size: 12pt;
 color: #000000;
 text-decoration: none;
}
span.rvts45
{
 font-size: 12pt;
 color: #000000;
 background-color: #ffffff;
}
span.rvts46
{
 font-style: italic;
}
span.rvts47
{
 color: #000000;
 background-color: #ffffff;
}
span.rvts48
{
 font-family: '@Yu Gothic UI';
 color: #000000;
}
a.rvts49, span.rvts49
{
 font-family: '@Yu Gothic UI';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts50, span.rvts50
{
 font-family: '@Yu Gothic UI';
 font-style: italic;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts51, span.rvts51
{
 color: #0000ff;
 background-color: #ffffff;
 text-decoration: underline;
}
span.rvts52
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
}
span.rvts53
{
 font-size: 12pt;
 color: #190000;
 background-color: #ffffff;
}
span.rvts54
{
 font-size: 12pt;
 font-family: '@Yu Gothic UI';
 color: #190000;
}
a.rvts55, span.rvts55
{
 font-size: 12pt;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts56
{
 font-size: 12pt;
 color: ;
}
span.rvts57
{
 font-size: 12pt;
 font-family: '@Yu Gothic UI';
 font-style: italic;
 font-weight: bold;
 color: ;
}
a.rvts58, span.rvts58
{
 font-size: 11pt;
 color: #3333ff;
 background-color: #ffffff;
 text-decoration: underline;
}
a.rvts59, span.rvts59
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts60, span.rvts60
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #190000;
 text-decoration: none;
}
a.rvts61, span.rvts61
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #3f3f3f;
 text-decoration: none;
}
span.rvts62
{
 font-style: italic;
 font-weight: bold;
}
span.rvts63
{
 font-size: 12pt;
 font-family: '@Yu Gothic UI';
 font-weight: bold;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps5
{
 margin: 0px 0px 0px 48px;
}
.rvps6
{
 background: #ffffff;
 margin: 24px 0px 24px 0px;
}
.rvps7
{
 background: #ffffff;
}
.rvps8
{
 background: #ffffff;
 margin: 0px 0px 0px 24px;
}
.rvps9
{
 margin: 0px 0px 0px 24px;
}
.rvps10
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: circle;}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: square;}
.list6 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: decimal;}
.list7 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: decimal;}
